.error{
    color: red;
    margin-top: -15px;
}
body{
    background-color: #002b36;
}
.sea{
    border: none;
    outline: none;
    background-color: transparent;
}
.sea::placeholder{
    color: #fff;
}
.sea:focus{
    background-color: transparent;
    border-radius: 20px;
    border:1px solid #fff;
}
.login{
    position: absolute;
    top:50%;
    left:50%;
    padding:40px;
    width:400px;
    background: #3e3045;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(228,228,228,0.7);
    transform:translate(-50%,-50%);
    
}
.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color:#fff;
}
.social{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color:#fff;
    padding-right: 5px;
}
.social i{
    font-size: 17px;
    margin-right:15px;
    justify-content: space-between;
}
.account{
    margin-bottom: 15px;
    text-align: center;
    color:#fff;
    opacity: 0.5;
    text-decoration: none;

}
.account a{
    text-decoration: none;
    color: #fff ;

}
.account a:hover{
    text-decoration: underline;
}

.email .input  , .password .input{
    width: 100%;
    position: relative;
    padding:10px 0;
    font-size:16px;
    background-color: transparent ;
    border:none;
    outline:none;
    border-bottom: 1px solid #fff;
    margin-bottom:30px;
    color:#fff;
}
::placeholder{
    font-size: 16px;
    color:#eadcdc;
}
::placeholder:focus{
    color:#fff;

}
a:hover{
    text-decoration: underline;
}
.input:focus{
    width:105%;
}
#submit{
padding:10px 20px;
color:#dbd1bd;
font-size: 16px;
margin: auto;
transition: 0.5s;
border:1px solid#fed123;
letter-spacing: 4px;
overflow: hidden;
text-decoration: none;
text-transform: uppercase;
background-color: transparent;
margin-top: 15px;

}
#submit:hover{
color:#fff;
border-radius: 5px;
background:#fed123;
box-shadow: 0 0 5px #fed123, 0 0 25px #fed123, 0 0 100px #fed123;
}
.forgot{
font-size: 14px;
text-decoration: none;
color:#dbd1bd;
width:60%;
margin: auto;
text-align: center;
transform: translate(50%,160%);
}
.forgot a{
margin:auto;
text-decoration: none;
color:#fed123;
}
@media (min-width:400px) and (max-width:450px){
    .login{
        width:350px;  
    }
    .forgot {
        margin-left: 70px;
    }
    
  
  }
  @media (min-width:350px) and (max-width:399px){
    .login{
        width:320px;  
    }
    .forgot{
        margin-left: 70px;
        margin-bottom: 25px;

    }
    
  
  }

  @media (min-width:300px) and (max-width:349px){
    .login{
        width:280px;  
    }
    .forgot{
        margin-left: 70px;
        margin-bottom: 20px;

    }
  }
  @media (min-width:280px) and (max-width:299px){
    .login{
        width:260px;  
    }
    .forgot{
        margin-left: 70px;
        margin-bottom: 20px;

    }
    #submit{
        margin-left: -20px;
    }
  }
  .input::-ms-reveal,
  .input::-ms-clear,
  .input::-webkit-reveal {
      display: none;
  }
  #show {
    position: absolute;
    right: 45px; 
    top: 61%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}
